<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DBMS_Lab_Inventory"
        tools:targetApi="31">
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".SignUpAdmin"
            android:exported="false" />
        <activity
            android:name=".ChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".EquipmentDetails"
            android:exported="false" />
        <activity
            android:name=".EditEquipments"
            android:exported="false" />
        <activity
            android:name=".LabEquipmentsClass"
            android:exported="false" />
        <activity
            android:name=".EditLabDetails"
            android:exported="false" />
        <activity
            android:name=".LabDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetStarted"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Navigation"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver"
            android:exported="true">

            <!-- Add other attributes as necessary -->
        </receiver>
    </application>

</manifest>